## Data Operation

In [1]:
import torch

In [3]:
x = torch.arange(12)
x
# create a tensor

tensor([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11])

In [4]:
# get tensor's shape
x.shape

torch.Size([12])

In [5]:
# check tensor's size
x.numel()

12

In [6]:
# only change shape
X = x.reshape(3,4)
X

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [8]:
#Also, we can use -1 to neglect one dimension
Y = x.reshape(-1,4)
Y

tensor([[ 0,  1,  2,  3],
        [ 4,  5,  6,  7],
        [ 8,  9, 10, 11]])

In [9]:
# create an all-zero tensor
torch.zeros((2,3,4))

tensor([[[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]],

        [[0., 0., 0., 0.],
         [0., 0., 0., 0.],
         [0., 0., 0., 0.]]])

In [10]:
# similarly
torch.ones((2,3,4))

tensor([[[1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]],

        [[1., 1., 1., 1.],
         [1., 1., 1., 1.],
         [1., 1., 1., 1.]]])

In [11]:
# random tensor
torch.randn(3,4)

tensor([[ 1.3721, -0.1760,  0.3784,  0.6156],
        [ 0.7559,  1.3072, -0.4319,  1.2404],
        [-1.8988,  0.7433, -0.2339, -0.1925]])

In [13]:
# 按元素运算
x = torch.tensor([1.0,2,4,8])
y = torch.tensor([2,2,2,2])
x+y, x-y, x*y, x/y, x**y, torch.exp(x)

(tensor([ 3.,  4.,  6., 10.]),
 tensor([-1.,  0.,  2.,  6.]),
 tensor([ 2.,  4.,  8., 16.]),
 tensor([0.5000, 1.0000, 2.0000, 4.0000]),
 tensor([ 1.,  4., 16., 64.]),
 tensor([2.7183e+00, 7.3891e+00, 5.4598e+01, 2.9810e+03]))

In [20]:
# concatenate tensor and tensor
X = torch.arange(12, dtype=torch.float32).reshape((3,4))
Y = torch.tensor([[2.0,1,4,3],[1,2,3,4],[4,3,2,1]])
torch.cat((X,Y),dim=0), torch.cat((X,Y),dim=1)
# we can understand as one is to make columns still and another is to raws.

(tensor([[ 0.,  1.,  2.,  3.],
         [ 4.,  5.,  6.,  7.],
         [ 8.,  9., 10., 11.],
         [ 2.,  1.,  4.,  3.],
         [ 1.,  2.,  3.,  4.],
         [ 4.,  3.,  2.,  1.]]),
 tensor([[ 0.,  1.,  2.,  3.,  2.,  1.,  4.,  3.],
         [ 4.,  5.,  6.,  7.,  1.,  2.,  3.,  4.],
         [ 8.,  9., 10., 11.,  4.,  3.,  2.,  1.]]))

In [21]:
# sum all elements, obtain a single element tensor
X.sum()

tensor(66.)

In [23]:
# broadcast
a = torch.arange(3).reshape((3,1))
b = torch.arange(2).reshape((1,2))
a, b, a+b

(tensor([[0],
         [1],
         [2]]),
 tensor([[0, 1]]),
 tensor([[0, 1],
         [1, 2],
         [2, 3]]))

In [24]:
# Indexing and slicing
X[1:3]

tensor([[ 4.,  5.,  6.,  7.],
        [ 8.,  9., 10., 11.]])

In [25]:
X[0:2,:]=12
X

tensor([[12., 12., 12., 12.],
        [12., 12., 12., 12.],
        [ 8.,  9., 10., 11.]])

In [28]:
# practice
X = torch.arange(12, dtype=torch.float32).reshape((3,4))
Y = torch.tensor([[2.0,1,4,3],[1,2,3,4],[4,3,2,1]])
X > Y, X < Y

(tensor([[False, False, False, False],
         [ True,  True,  True,  True],
         [ True,  True,  True,  True]]),
 tensor([[ True, False,  True, False],
         [False, False, False, False],
         [False, False, False, False]]))

In [29]:
a = torch.arange(3).reshape(1,3,1)
b = torch.arange(4).reshape(2,1,2)
a, b

(tensor([[[0],
          [1],
          [2]]]),
 tensor([[[0, 1]],

         [[2, 3]]]))

## Data Preprocess

In [23]:
# create a dataset
import os

os.makedirs(os.path.join('..', 'data'), exist_ok=True)
data_file = os.path.join('..', 'data', 'house_tiny.csv')
with open(data_file, 'w') as f:
    f.write('NumRooms,Alley,Price\n')  # 列名
    f.write('NA,Pave,127500\n')  # 每行表示一个数据样本
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

In [25]:
# load data
import pandas as pd

data = pd.read_csv(data_file)
print(data)

   NumRooms Alley   Price
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

In [28]:
# deal with missing values
inputs, outputs = data.iloc[:, 0:2], data.iloc[:, 2]
inputs['NumRooms'] = inputs['NumRooms'] .fillna(inputs['NumRooms'] .mean())
#also can use numeric_only = True
print(inputs)

   NumRooms Alley
0       3.0  Pave
1       2.0   NaN
2       4.0   NaN
3       3.0   NaN

In [29]:
inputs = pd.get_dummies(inputs, dummy_na = True)
print(inputs)

   NumRooms  Alley_Pave  Alley_nan
0       3.0        True      False
1       2.0       False       True
2       4.0       False       True
3       3.0       False       True

In [31]:
# change into tensor's form
X = torch.tensor(inputs.to_numpy(dtype=float))
y = torch.tensor(outputs.to_numpy(dtype=float))
X, y

(tensor([[3., 1., 0.],
         [2., 0., 1.],
         [4., 0., 1.],
         [3., 0., 1.]], dtype=torch.float64),
 tensor([127500., 106000., 178100., 140000.], dtype=torch.float64))

In [34]:
# practice
data_file1 = os.path.join('..', 'data', 'animal.csv')
with open(data_file1, 'w')as f: #open文件名参数不要打引号
    f.write('animal,age,special\n')
    f.write('horse,4,fast\n')
    f.write('pig,5,eating\n')
    f.write('sheep,NA,NA\n')
    f.write('chicken,NA,egg\n')
    f.write('ow,3,milk\n')
    f.write('NA,NA,NA\n')
data = pd.read_csv(data_file1)
data

    animal  age special
0    horse  4.0    fast
1      pig  5.0  eating
2    sheep  NaN     NaN
3  chicken  NaN     egg
4       ow  3.0    milk
5      NaN  NaN     NaN

In [37]:
cnt = 0
cnt_max = 0
labels = ['animal','age','special']
for label in labels:
    cnt = data[label].isna().sum()
    if cnt > cnt_max:
        cnt_max = cnt
        flag = label
data_new = data.drop(flag,axis=1)
data_new

    animal special
0    horse    fast
1      pig  eating
2    sheep     NaN
3  chicken     egg
4       ow    milk
5      NaN     NaN

In [46]:
# matrix transpose
import numpy as np
A = np.arange(20).reshape(5,4)
A.T

array([[ 0,  4,  8, 12, 16],
       [ 1,  5,  9, 13, 17],
       [ 2,  6, 10, 14, 18],
       [ 3,  7, 11, 15, 19]])

In [47]:
x = np.arange(4)
x, x.sum()

(array([0, 1, 2, 3]), 6)

In [48]:
# dot product
y = np.ones(4)
x, y, np.dot(x,y)

(array([0, 1, 2, 3]), array([1., 1., 1., 1.]), 6.0)

In [51]:
# L2 norm
u = np.array([3,-4])
np.linalg.norm(u)

5.0

In [52]:
# L1 norm 
np.abs(u).sum()

7

In [53]:
# frobenius norm
np.linalg.norm(np.ones((4,9)))

6.0

In [54]:
# backward function
x = torch.arange(4.0)
x.requires_grad_(True)
x.grad

In [55]:
y = 2*torch.dot(x,x)
y

tensor(28., grad_fn=<MulBackward0>)

In [56]:
y.backward()
x.grad

tensor([ 0.,  4.,  8., 12.])

In [57]:
x.grad == 4*x

tensor([True, True, True, True])

In [58]:
# 对非标量调用backward需要传入一个gradient参数，该参数指定微分函数关于self的梯度。
# 本例只想求偏导数的和，所以传递一个1的梯度是合适的
x.grad.zero_()
y = x * x
# 等价于y.backward(torch.ones(len(x)))
y.sum().backward()
x.grad

tensor([0., 2., 4., 6.])

In [60]:
#y是作为x的函数计算的，而z则是作为y和x的函数计算的,只考虑x在y计算后的作用
x.grad.zero_()
y = x * x
u = y.detach()
z = u * x

z.sum().backward()
x.grad == u

tensor([True, True, True, True])